
ul li{
    list-style-type: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: black;
    text-align: center;
}
li a {
    text-align: center;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    margin: auto;
}
li a:hover {
    color: grey;
}
.logo {
    width: 80px;
}