.products-list__container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.5rem;
  justify-content: center;
}

.products-list {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
